<body>
    

<header style="font-family: Moderna;">
    <div class="container-fluid d-none d-md-block">
    
    <nav class="navbar navbar-black bg-movido fixed-top">
        <div class="container-fluid">
            
            <div class="navbar-brand">
                <a href="" class="text-decoration-none text-white m-auto fs-1" style="font-family: Biger;">
                    <img src="../../../../assets/img/optimizadas/logonuevardo2.gif" class="img-fluid" style="width: 120px;" alt="">
                    &nbsp;BriCode
                </a>
            </div>
            <div class="navbar-content d-flex justify-content-end">
                
                <ul class="nav">
                    <li class="nav-item">
                        <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow text-light fs-5 p-2 m-1" routerLink="" >
                            Portfolio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow text-light fs-5 p-2 m-1"  routerLink="/card">
                            Quienes Somos
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href=""  routerLink="/Somos" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow text-light fs-5 p-2 m-1">
                            Que hacemos
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow text-light fs-5 p-2 m-1" routerLink="/contacto">
                            Contacto
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="http://" target="_blank" rel="noopener noreferrer" class="nav-item text-decoration-none rounded shadow text-light fs-5 p-2 m-1">
                            Más... 
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</div>



  <nav class="navbar navbar-dark bg-black">
    <div class="container-fluid">
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  
  <div class="collapse" id="navbarToggleExternalContent">
      <div class="container-fluid">
    <div class="bg-movil p-4 row">
        <div class="col-7">
            <h5 class="text-light fs-2">BriCode</h5>
      <ul class="nav flex-column" >
        <li class="nav-item" >
            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none text-light fs-5 p-1 m-1 btn-close" routerLink="" >
                Portfolio
            </a>
        </li>
        <li class="nav-item">
            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none text-light fs-5 p-1 m-1 btn-close "  routerLink="/card">
                Quienes Somos
            </a>
        </li>
       
        <li class="nav-item">
            <a href="" rel="noopener noreferrer" class="nav-item text-decoration-none  text-light fs-5 p-1 m-1 btn-close" routerLink="/contacto">
                Contacto
            </a>
        </li>
      
    </ul>
        </div>

        <div class="col-5 text-light bri  "></div>
    </div>
    </div>
  </div>



</header>
</body>