<body class="d-md-flex align-items-center justify-content-center">
    <div class="row container-fluid">
       
        
            <div class="container">
                <div class="col-4">
                <form class="form" action="">
                    <p class="fs-3 fw-bold title">COMENCEMOS</p>
                    <input placeholder="Name" class="username input" type="text">
                    <input placeholder="Last Name" class="password input" type="text">
                    <input placeholder="Descripcion de tu proyecto" class="password input" type="text">
                    <input placeholder="Descripcion de tu proyecto" class="password input" type="hidden">
                    <button class="btn" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>