.bg-movil{
    background-image: url("../../../../assets/img/fondomovido.gif");
    background-size:auto;

  }

@font-face {
    font-family: 'Moderna';
    src: url("../../../../assets/fonts/MomcakeBold-WyonA.otf");
}