.bs {
  background-color: #000000;
    /* background-image:  linear-gradient(rgba(82, 81, 81, 0.514), rgba(0, 0, 0, 0.6)), url("../img/fondo2.png"); */
    background-image: linear-gradient(rgba(6, 7, 28, 0.514), rgba(20, 20, 20, 0.767), rgba(8, 8, 8, 0.6)), url("../../../../assets/img/optimizadas/vondo-cv.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  .card-container {
    perspective: 50%;
  }

 /*  .efecto .card-container:hover{
    transform: translateY(-3px) scale(1.00);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
    
} */

.fs-movil{
    font-size: 30px;
  }

  .cardWitdh{

    max-width: 540px;
  }

  .imgHeight{
    height: 170px;
  }

  @media (max-width: 850px) { 

    .cardWitdh{

      max-width: 540px;
    }

    .imgHeight{
      height: 160px;
    }

    .card-title{
      font-size: 16px;
    }

    .card-text{
      font-size: 13px;
    }

    

  }

  @media (max-width: 600px) { 

    .cardWitdh{

      max-width: 520px;
    }

    .imgHeight{
      height: 120px;
    }

    .card-title{
      font-size: 16px;
    }

    .card-text{
      font-size: 13px;
    }

    .titelSize{
      font-size: 20px;
    }

  }

  @media (max-width: 400px) { 

    .cardWitdh{

      max-width: 520px;
    }

    .imgHeight{
      height: 100px;
    }

    .card-title{
      font-size: 14px;
    }

    .card-text{
      font-size: 10px;
    }

    .titelSize{
      font-size: 16px;
    }

    

  }

  /* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
  