<body>
    
     <div class="bs text-light pt-5 container-fluid">
        <div class="row pt-2">
            <div class="col text-center pt-5">     
                     
               <!--  <h2 class="titel padingTitel" style="font-family: FutureEarth;" data-aos="fade-down" data-aos-duration="1200">PORTFOLIO</h2>  -->
                
                <div class="pt-3" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="../../../../assets/img/portf/human.png" alt="" class="imgWith hvr-grow-shadow pb-2"  >
                    <h2 class="pt-4 sizeName move">{{data.name}}</h2>
                </div>
                
                
                <div class="" data-aos="zoom-in" data-aos-duration="1200">           
                    <a href="{{data.cv}}" target="_blank"><img class="mx-md-3 mx-sm-2 m-2 hvr-bob size2" src="{{soft.cv}}" alt="" ></a>
                    <a href="{{data.git}}" target="_blank"> <img class="mx-md-3 mx-sm-2 m-2 hvr-bob size2" src="{{soft.github}}" alt="" ></a>
                    <a href="{{data.bit}}" target="_blank"><img class="mx-md-3 mx-sm-2 m-2 hvr-bob size2" src="{{soft.bitbucket}}" alt="" ></a>
                    <a href="{{data.link}}" target="_blank"> <img class="mx-md-3 mx-sm-2 m-2 hvr-bob size2" src="{{soft.linkedin}}" alt="" ></a>
                </div>
            </div>
        </div>
    </div>

    <div class=" bs2 text-light padingT container-fluid">
        
        <div class=" text-center pt-4 pb-3 ">
            <h2 class="titel move" style="font-family: Game;"  data-aos="fade-down" data-aos-duration="1200">SKILLS <img class="sizeTitel" src="{{skills.skills}}" alt="" > </h2> 
        </div>
            <div class="row justify-content-center marginB">
            
                <div class="col-xl-8 col-md pt-3"  data-aos="zoom-in" data-aos-duration="2000">
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.html}}" alt="">
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.css}}" alt="">
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.angular}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.type}}" alt="" >                    
                    <img class="mx-md-5 mx-sm-4  m-3  hvr-grow-shadow size" src="{{skills.flutter}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.dart}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.mysql}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.git}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3  hvr-grow-shadow size" src="{{skills.react}}" alt="">
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.js}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.c}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.csh}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.worpdress}}" alt="" >
                    
                    
                </div>
           
             </div>

             

             <div class=" text-center pt-4 pb-3">
                <h2 class="titel move" style="font-family: Game;" data-aos="fade-down" data-aos-duration="1200">TOOLS<img class="sizeTitel" src="{{soft.software}}" alt="" > </h2> 
            </div>

             <div class="row justify-content-center pb-5 padingT2">
            
                <div class="col-xl-8 col-md pt-md-3 pt-sm-1" data-aos="zoom-in" data-aos-duration="2000">
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.visual}}" alt="">
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.figma}}" alt="">
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.android}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.microsoft}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.discord}}" alt="">                    
                    <img class="mx-md-5 mx-sm-4 m-3  hvr-grow-shadow size" src="{{soft.firebase}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.jira}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.photoshop}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.corel}}" alt="">
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.linux}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3  hvr-grow-shadow size" src="{{soft.obs}}" alt="" >
                    
                    
                </div>
           
             </div>
             

             
    </div>

    <div class="bs3 text-light pt-5 pb-5 container-fluid">
        <div class="row pt-2">
            <div class="col text-center pt-5">     
                     
               <!--  <h2 class="titel padingTitel" style="font-family: FutureEarth;" data-aos="fade-down" data-aos-duration="1200" >PROYECTOS</h2>  -->
               <div class="pt-3" data-aos="fade-down" data-aos-duration="1200" >
                <img src="../../../../assets/img/portf/mac.png" alt="" class="move mac"  >
                
            </div>
                
                
               <!--  <div class="col-12 container-a1 m d-flex"> -->
                   <div class="row justify-content-center"> 

                    <div class="col-md col-lg-4 m-md-2 m-lg-4 " data-aos="zoom-in" data-aos-duration="1500">
                      <a target="_blank" href="https://flowkai.web.app/" style="text-decoration: none;"> 
                        <div class="hvr-grow-shadow">
                          <h3 class="text-light" style="font-family: Moderna;">FLOWKAI</h3>
                         <img src="../../../../assets/img/portf/Flowkai.png" class="proyecto w-75" alt="" >
                         <p class="text-center fs-5 text-warning pt-2">EN DESARROLLO</p>
                          <div class="caption">
                              <div class="blur"></div>
                             <!--  <div class="caption-text text-center">
                                  <h1>Rapanui lomos</h1>
                                  <p>Local gastronomico de San Juan. Ayudamos a que los clientes puedan visualizar el menu y mostrar la vida del local</p>
                              </div> -->
                          </div>
                      </div>
                      </a>
                  </div>

                    <div class="col-md col-lg-4 m-md-2 m-lg-4 " data-aos="zoom-in" data-aos-duration="1500">
                      <a target="_blank" href="https://piazzeta-c2f38.web.app/" style="text-decoration: none;"> 
                        <div class="hvr-grow-shadow">
                          <h3 class="text-light" style="font-family: Moderna;">ONNO</h3>
                         <img src="../../../../assets/img/portf/Onno.png" class="proyecto w-75" alt="" >
                         <p class="text-center fs-5 text-warning pt-2">EN DESARROLLO</p>
                         <div class="caption">
                              <div class="blur"></div>
                             <!--  <div class="caption-text text-center">
                                  <h1>Rapanui lomos</h1>
                                  <p>Local gastronomico de San Juan. Ayudamos a que los clientes puedan visualizar el menu y mostrar la vida del local</p>
                              </div> -->
                          </div>
                      </div>
                      </a>
                  </div>

                   <div class="col-md col-lg-4 m-md-2 m-lg-4 " data-aos="zoom-in" data-aos-duration="1500">
                        <a target="_blank" href="https://rapanui-lomos.web.app/" style="text-decoration: none;"> 
                          <div class="hvr-grow-shadow">
                            <h3 class="text-light" style="font-family: Moderna;">RAPANUI LOMOS</h3>
                           <img src="../../../../assets/img/portf/Rapanui.png" class="proyecto w-75" alt="" >
                            <div class="caption">
                                <div class="blur"></div>
                               <!--  <div class="caption-text text-center">
                                    <h1>Rapanui lomos</h1>
                                    <p>Local gastronomico de San Juan. Ayudamos a que los clientes puedan visualizar el menu y mostrar la vida del local</p>
                                </div> -->
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="col-md col-lg-4 m-4" data-aos="zoom-in" data-aos-duration="1500">
                        <a target="_blank" href="https://nuevo-theta.vercel.app/" style="text-decoration: none;"> 
                            <div class=" hvr-grow-shadow ">
                              <h3 class="text-light"  style="font-family: Moderna;">PELIS UP!</h3>
                             <img src="../../../../assets/img/portf/PelisUp.png" class="proyecto w-75" alt="" >
                              <div class="caption">
                                  <div class="blur"></div>
                                 <!--  <div class="caption-text text-center">
                                      <h1>Rapanui lomos</h1>
                                      <p>Local gastronomico de San Juan. Ayudamos a que los clientes puedan visualizar el menu y mostrar la vida del local</p>
                                  </div> -->
                              </div>
                            </div>
                          </a> 
                        </div>
                          
                        <div class="col-md col-lg-4 m-4  " data-aos="zoom-in" data-aos-duration="1500">
                            <a target="_blank" href="https://juanmah98.github.io/Lubribri/" style="text-decoration: none;"> 
                                <div class="hvr-grow-shadow">
                                  <h3 class="text-light"  style="font-family: Moderna;">LUBRICENTRO LOPEZ</h3>
                                 <img src="../../../../assets/img/portf/Lubri.png" class="proyecto w-75 " alt="" >
                                  <div class="caption">
                                      <div class="blur"></div>
                                     <!--  <div class="caption-text text-center">
                                          <h1>Rapanui lomos</h1>
                                          <p>Local gastronomico de San Juan. Ayudamos a que los clientes puedan visualizar el menu y mostrar la vida del local</p>
                                      </div> -->
                                  </div>
                                </div>
                              </a> 
                         </div>

                         <div class="col-md col-lg-4 m-4 "data-aos="zoom-in" data-aos-duration="1500">
                            <a target="_blank" href="https://bricode-sj.web.app/" style="text-decoration: none;"> 
                                <div class="hvr-grow-shadow">
                                  <h3 class="text-light"  style="font-family: Moderna;" >BRICODE</h3>
                                 <img src="../../../../assets/img/portf/Bricode2.png" class="proyecto w-75" alt="" >
                                  <div class="caption">
                                      <div class="blur"></div>
                                     <!--  <div class="caption-text text-center">
                                          <h1>Rapanui lomos</h1>
                                          <p>Local gastronomico de San Juan. Ayudamos a que los clientes puedan visualizar el menu y mostrar la vida del local</p>
                                      </div> -->
                                  </div>
                                </div>
                              </a> 
                         </div>
                          
                         <div class="col-md col-lg-4 m-4 "data-aos="zoom-in" data-aos-duration="1500">
                            <a target="_blank" href="https://nasa-sj-tec.web.app/tabla-imagenes" style="text-decoration: none;"> 
                                <div class="hvr-grow-shadow">
                                  <h3 class="text-light"  style="font-family: Moderna;">SAN JUAN TEC NASA</h3>
                                 <img src="../../../../assets/img/portf/Nasa.png" class="proyecto w-75" alt="" >
                                  <div class="caption">
                                      <div class="blur"></div>
                                     <!--  <div class="caption-text text-center">
                                          <h1>Rapanui lomos</h1>
                                          <p>Local gastronomico de San Juan. Ayudamos a que los clientes puedan visualizar el menu y mostrar la vida del local</p>
                                      </div> -->
                                  </div>
                                </div>
                              </a> 
                         </div>  
                         
                         
                         <div class="col-md col-lg-10 "data-aos="zoom-in" data-aos-duration="1500">
                            <!-- <a target="_blank" href="https://www.linkedin.com/company/sg-financial-technology/" style="text-decoration: none;"> 
                                <div class="mx-4 hvr-grow-shadow">
                                  <h3 class="text-light"  style="font-family: Moderna;">TERA APP</h3>
                                 <img src="../../../../assets/img/proyectos/tera.jpg" class="proyectotera p1" alt="" >
                                 <img src="../../../../assets/img/proyectos/tera2.jpg" class="proyectotera m-1" alt="" >
                                  <div class="caption">
                                      <div class="blur"></div>
                                     
                                  </div>
                                </div>
                              </a>  -->
                         </div>

 <div class="col-md col-lg-4 m-4 "data-aos="zoom-in" data-aos-duration="1500">
                        
                       <!--   <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
                            <div class="carousel-inner hvr-grow-shadow">
                                <a target="_blank" href="https://www.linkedin.com/company/sg-financial-technology/" style="text-decoration: none;"> 
                                    <h3 class="text-light"  style="font-family: Moderna;">TERA APP</h3>
                                    <div class="carousel-item active">                               
                                <img class="  shadow proyectotera " src="../../../../assets/img/proyectos/tera.jpg">
                              </div>
                              <div class="carousel-item">
                                <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera2.jpg">
                              </div>
                              <div class="carousel-item">
                                <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera3.jpg">
                              </div>
                              <div class="carousel-item">
                                <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera4.jpg">
                              </div>
                              <div class="carousel-item">
                                <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera5.jpg">
                              </div>
                              <div class="carousel-item">
                                <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera6.jpg">
                              </div>
                              <div class="carousel-item">
                                <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera7.jpg">
                              </div>
                         
                            </a> 
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                              data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                              data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div> -->

                          <h2 class="text-light"  style="font-family: Moderna;">TERA APP</h2>
                          <div class="hvr-grow-shadow ">
                           <img src="../../../../assets/img/portf/Tera.png" class="proyecto w-75 pt-2 pb-2" alt="" >
                            <div class="caption">
                                <div class="blur"></div>
                               <!--  <div class="caption-text text-center">
                                    <h1>Rapanui lomos</h1>
                                    <p>Local gastronomico de San Juan. Ayudamos a que los clientes puedan visualizar el menu y mostrar la vida del local</p>
                                </div> -->
                            </div>
                          </div>

                          <div id="carouselExampleFade" class="carousel slide carousel-fade pt-5" data-bs-ride="carousel">
                            <div class="carousel-inner  hvr-grow-shadow">
                              <a target="_blank" href="https://www.linkedin.com/company/sg-financial-technology/" style="text-decoration: none;"> 
                               


                              
                                
                            <div class="carousel-item active">                               
                            <img class="  shadow proyectotera " src="../../../../assets/img/proyectos/tera.jpg">
                          </div>
                          <div class="carousel-item">
                            <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera2.jpg">
                          </div>
                          <div class="carousel-item">
                            <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera3.jpg">
                          </div>
                          <div class="carousel-item">
                            <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera4.jpg">
                          </div>
                          <div class="carousel-item">
                            <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera5.jpg">
                          </div>
                          <div class="carousel-item">
                            <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera6.jpg">
                          </div>
                          <div class="carousel-item">
                            <img class=" shadow proyectotera " src="../../../../assets/img/proyectos/tera7.jpg">
                          </div>
                         
                          <!-- <div class="image-7 carousel-item">
                            <img class="d-block w-75 shadow ">
                          </div> -->
                        </a> 
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                       
                        </div>

                    </div>
                         
                   
                </div>                

            </div>
            </div>
       <!--  </div>   -->     
  

    <div class="row">
        <div class="col ">
    
	</div>
</div>
</body>