<body>
    
     <div class="bs text-light pt-5 container-fluid">
        <div class="row pt-2">
            <div class="col text-center pt-5">     
                     
                <h2 class="titel padingTitel" style="font-family: FutureEarth;">PORTFOLIO</h2> 
                
                <div class="pt-3">
                    <img src="{{data.img}}" alt="" class="imgWith">
                    <h3 class="pt-4 sizeName">{{data.name}}</h3>
                </div>
                
                
                <div class="">           
                    <a href="{{data.cv}}" target="_blank"><img class="mx-md-3 mx-sm-2 m-2 hvr-bob size" src="{{soft.cv}}" alt="" ></a>
                    <a href="{{data.git}}" target="_blank"> <img class="mx-md-3 mx-sm-2 m-2 hvr-bob size" src="{{soft.github}}" alt="" ></a>
                    <a href="{{data.bit}}" target="_blank"><img class="mx-md-3 mx-sm-2 m-2 hvr-bob size" src="{{soft.bitbucket}}" alt="" ></a>
                    <a href="{{data.link}}" target="_blank"> <img class="mx-md-3 mx-sm-2 m-2 hvr-bob size" src="{{soft.linkedin}}" alt="" ></a>
                </div>
            </div>
        </div>
    </div>

    <div class=" bs2 text-light padingT container-fluid">
        
        <div class=" text-center pt-4 pb-3 ">
            <h2 class="titel" style="font-family: FutureEarth;">SKILLS <img class="sizeTitel" src="{{skills.skills}}" alt=""> </h2> 
        </div>
            <div class="row justify-content-center marginB">
            
                <div class="col-xl-8 col-md pt-3">
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.html}}" alt="">
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.css}}" alt="">
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.angular}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.type}}" alt="" >                    
                    <img class="mx-md-5 mx-sm-4  m-3  hvr-grow-shadow size" src="{{skills.flutter}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.dart}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.mysql}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.git}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3  hvr-grow-shadow size" src="{{skills.react}}" alt="">
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.js}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.c}}" alt="" >
                    <img class="mx-md-5 mx-sm-4  m-3 hvr-grow-shadow size" src="{{skills.csh}}" alt="" >
                    
                </div>
           
             </div>

             

             <div class=" text-center pt-4 pb-3">
                <h2 class="titel" style="font-family: FutureEarth;">HERRAMIENTAS <img class="sizeTitel" src="{{soft.software}}" alt="" > </h2> 
            </div>

             <div class="row justify-content-center pb-5 padingT2">
            
                <div class="col-xl-8 col-md pt-md-3 pt-sm-1">
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.visual}}" alt="">
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.android}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.microsoft}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.discord}}" alt="">                    
                    <img class="mx-md-5 mx-sm-4 m-3  hvr-grow-shadow size" src="{{soft.firebase}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.jira}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.photoshop}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.corel}}" alt="">
                    <img class="mx-md-5 mx-sm-4 m-3 hvr-grow-shadow size" src="{{soft.linux}}" alt="" >
                    <img class="mx-md-5 mx-sm-4 m-3  hvr-grow-shadow size" src="{{soft.obs}}" alt="" >
                    
                    
                </div>
           
             </div>
             

             
    </div>

    <div class="bs3 text-light pt-5 container-fluid">
        <div class="row pt-2">
            <div class="col text-center pt-5">     
                     
                <h2 class="titel padingTitel" style="font-family: FutureEarth;">PROYECTOS</h2> 

                <img src="../../../../assets/img/fondomovido.gif" width="300" alt="">
                
                <div class="container-a1">
                    <ul class="caption-style-1">
                        <li>
                            <img src="../../../../assets/img/proyectos/rapanui2.JPG" class="proyecto" alt="">
                            <div class="caption">
                                <div class="blur"></div>
                                <div class="caption-text">
                                    <h1>Amazing Caption</h1>
                                    <p>Whatever It Is - Always Awesome</p>
                                </div>
                            </div>
                        </li>			
                    </ul>
                </div>
            </div>
        </div>       
    </div>

    <div class="row">
        <div class="col ">
    
	</div>
</div>
</body>