
<body>  
  
    <div class="container-fluid bs mt-md-3 pt-md-4 pb-md-3 pb-0" >
      <p class="text-light text-center fs-movil pt-5" data-aos="fade-down"  style="font-family: FutureEarth;">NOSOTROS</p>
        <div class=" row pt-md-3 pt-0 justify-content-center efecto pb-5" data-aos="zoom-in" data-aos-duration="1500" >
            <div class="card-container text-light col-md-4 mt-md-3 mt-5 mx-3 efe mt-5 " style="width: 18rem;" >
                <img src="../../../../assets/img/optimizadas/brafinal.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Braian Vargas</h5>
                  <p class="card-text">Estudiante universitario, autodidacta, amante de las tecnologias. Fundador de BriCode</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-container "><b>Edad:</b> 23 años</li>
                    <li class="list-group-container"><b>Recidencia:</b> San Juan</li>
                    <li class="list-group-container"><b>Nacionalidad:</b> Argentina</li>
                  </ul>
                <div class="card-body text-center">
                  <a href="https://drive.google.com/file/d/12XuTCd6lXQf7NoH0IwMCxqVuCtv54ChV/view?usp=sharing" target="_blank" class="btn btn-secondary ">Curriculum vitae</a>
                  
                </div>
              </div>

              <div class="card-container  text-light col-md-4 mt-md-3  mt-5 mx-3 efee" style="width: 18rem;">
                <img src="../../../../assets/img/optimizadas/jmfinal.png" class="card-img-top " alt="...">
                <div class="card-body">
                  <h5 class="card-title">Juan Manuel Herrero</h5>
                  <p class="card-text">Estudiante universitario, autodidacta, trabajando en MMakers actualmente. Cofundador de BriCode</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-container "><b>Edad:</b> 23 años</li>
                  <li class="list-group-container"><b>Recidencia:</b> San Juan</li>
                  <li class="list-group-container"><b>Nacionalidad:</b> Argentina</li>
                  
                </ul>
                <div class="card-body text-center">
                  <a href="https://drive.google.com/file/d/1zbwUxdBXXq_jvGDz_kXfHxTWyEIUehv6/view?usp=sharing" target="_blank" class="btn btn-secondary ">Curriculum vitae</a>
                  
                </div>
              </div>
        </div>


    </div>

    

</body>
