:root {
    --main-color: #4B4C80;
    --secondary-color: #c3dbcf;
}
@font-face {
    font-family: 'Biger';
    src: url("../../../../assets/fonts/bBigerOver.ttf");
}
@font-face {
  font-family: 'FutureEarth';
  src: url("../../../../assets/fonts/FutureEarth.ttf");
}

@font-face {
  font-family: 'Moderna';
  src: url("../../../../assets/fonts/MomcakeBold-WyonA.otf");
}

@font-face {
  font-family: 'Moderna2';
  src: url("../../../../assets/fonts/erasef-medium.otf");
}

@font-face {
  font-family: 'bricode';
  src: url("../../../../assets/fonts/LibreFranklin-VariableFont_wght.ttf");
}

.back-black {
  margin: 0;
  padding: 0;
  height: 100vh; // vh significa "viewport height", es decir, el 100% de la altura de la ventana de visualización
  background-color: #000; // Negro
  color: #fff; // Color de texto blanco (puedes ajustarlo según tus preferencias)
}

.b {
  background-color: #000000;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.963), rgba(20, 20, 20, 0.958), rgba(1, 0, 27, 0.963)), url("../../../../assets/img/optimizadas/fondo1.jpg");
    /* background-image: url("../img/fodno4.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
     margin: 0;
  padding: 0;
  height: 105vh; // vh significa "viewport height", es decir, el 100% de la altura de la ventana de visualización
   
}


.fs-6{
  font-size: small;
}

.b2 {
  font-family: FutureEarth;
  background-color: #030a2c;
  /* background-image:  linear-gradient(rgba(82, 81, 81, 0.514), rgba(0, 0, 0, 0.6)), url("../img/fondo2.png"); */
  background-image: linear-gradient(rgba(1, 0, 27, 0.963), rgba(20, 20, 20, 0.949), rgba(8, 8, 8, 0.938)), url("../../../../assets/img/optimizadas/page.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.p{
  background-color: rgba(63, 63, 63, 0.178);
  padding: 5%;
}

.bg1 {
    background-color: var(--main-color);
}

.bg2 {
    background-color: var(--secondary-color);
}

.white {
    color: white;
}
.card-container {
  perspective: 50%;
}

.card-flip, .card-container {
  transform-style: preserve-3d;
  transition: all 0.2s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
.card-flip {
  display: grid; grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.4s ease;
}

.front {
  grid-area: frontAndBack;
}

div .img-logo{
  backface-visibility: hidden;
  transform-style: preserve-3d;

  -webkit-animation: breathing 3s ease-out infinite alternate-reverse;
  animation: breathing 3s ease-out infinite normal;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.fs-movil{
  font-size: 30px;
}

.lista li{
  padding: 4px;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    --glow-color: rgb(255, 254, 176);
  }
  20%, 24%, 55%, 56% {
    --glow-color:rgb(125, 119, 11); /* Cambia este color al color que prefieras para el parpadeo */
  }
}
.btn-led {
  --glow-color: rgb(255, 254, 176);
  --glow-spread-color: rgba(255, 253, 123, 0.781);
  --enhanced-glow-color: rgb(250, 255, 206);
  --btn-color: rgb(136, 136, 61);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  animation: flicker 4s infinite;

}
 
 .btn-led::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .4);
 }
 
 .btn-led:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .btn-led:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }


/* === removing default button style ===*/
.bricode {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.bricode {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #ffee37;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "FutureEarth";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.bricode:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}


@media (max-width: 500px) { 
    
  .b{
    height: auto;
  }
  .b2{
    height: auto;
  }

  .fs-movil{
    font-size: 15px;
  }
 
}













@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }
}
