
<body class="" >
   
      
    


    <div class="container-fluid b pt-5" >
        <div class="container mt-5 pt-sm-5 pt-0 row text-center m-auto">
            <p class="text-light  fs-movil" data-aos="fade-down"  style="font-family: FutureEarth;">
                BriCode, mas que una web.
            </p>
        </div>
        <br><br><br>
        <div class="container m-auto row justify-content-center" data-aos="zoom-in" data-aos-duration="1200">
            <p class="text-light fs-2 m-2 p-3 text-center"  style="font-family: Biger;">
                <b>Portfolio</b>
            </p>
            <br>
            <div class="row">
                <div class="card-container justify-content-center col-md-4 mt-3 mt-md-0" >
                    <a target="_blank" href="https://www.maxser.com.ar" class="text-style-none text-decoration-none">
                        <div class="card-flip shadow p " style="border-radius: 15px; border: solid rgba(70, 70, 70, 0.055) 3px;">
                            <div class="front w-50 m-auto">
                                <img src="../../../../assets/img/maxser.png" class="img-fluid img-logo" alt="...">
                            </div>
                            <div class="back m-3 p-2 text-white">
                                <h3 class="" style="font-family: Moderna;"><b>MAXSER</b></h3>
                                <p class="" >Empresa dedicada a la venta y reparación de equipos informáticos.</p>
                                <p class="fs-5" style="font-family: Moderna;"><small class="text-white">08/2021</small></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-container justify-content-center col-md-4 mt-3 mt-md-0">
                    <a target="_blank" href="https://juanmah98.github.io/rapanui/index.html" class="text-style-none text-decoration-none">
                        <div class="card-flip shadow p" style="border-radius: 15px; border: solid rgba(70, 70, 70, 0.055) 3px;">
                            <div class="front w-50 m-auto">
                                <!-- card content -->
                                <img src="../../../../assets/img/rapanui.png" class="img-fluid img-logo" alt="...">
                            </div>
                            <div class="back m-3 p-2 text-white ">
                                <!-- card content -->
                                <h3 class="" style="font-family: Moderna;"><b>Rapanui lomos</b></h3>
                                <p class="">Empresa gastronómica con carta y pedidos virtual.</p>
                                <p class="fs-5" style="font-family: Moderna;"><small class="text-white">06/2021</small></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-container justify-content-center col-md-4 mt-3 mt-md-0">
                    <a target="_blank" href="https://juanmah98.github.io/Lubribri/" class="text-style-none text-decoration-none">
                        <div class="card-flip shadow p" style="border-radius: 15px; border: solid rgba(70, 70, 70, 0.055) 3px;">
                            <div class="front m-auto">
                                <!-- card content -->
                                <img src="../../../../assets/img/lubri.png" class="img-fluid img-logo" alt="...">
                            </div>
                            <div class="back m-3 p-2 text-white ">
                                <!-- card content -->
                                <h3 class="" style="font-family: Moderna;"><b>Lubricentro Lopez</b></h3>
                                <p class="">Local dedicado al mantenimiento vehicular y venta de insumos vehiculares.</p>
                                <p class="fs-5" style="font-family: Moderna;"><small class="text-white">06/2021</small></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row mt-sm-5 mb-sm-5">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>

            <div>
                <h5 class="text-center pb-5 pt-sm-2 pt-5 text-light" style="font-family: Moderna;" data-aos="fade-up" data-aos-duration="1200"  data-aos-anchor-placement="bottom-bottom" >
                    Nuestro Portfolio, una coleccion de paginas webs con exito, funcionando en su totalidad 100% BriCode
                    Cada pagina web realizada es una creacion unica, adaptada a las necedidades y condiciones de los clientes
                    Puedes ingresar en las paginas y observar nuestro trabajo
                    Esperamos trabajar con tigo muy pronto...
                </h5>  
                
            </div>

        </div>

       
    </div>
    
    
    <div class="b2 text-white pt-5 container-fluid" >
        <div class="m-auto container pt-sm-5 pt-0 mt-5" style="font-family: Moderna2;" >
            <h2 class="pb-5 text-center fs-1" style="font-family: Biger;" data-aos="fade-down" data-aos-duration="1200">SOBRE NOSOTROS</h2>
            <div class="fs-4 pt-sm-5 pt-1 mt-2 row" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="1200">
            
                <div class="col-md-6 pb-sm-0 pb-4" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="1200">
                <p class=" text-center text-md-left ">
                    Somos <strong style="font-family: Biger;">BriCode</strong>, empresa dedicada al desarrollo de sitios y páginas webs profesionales
                    para empresas, instituciónes y particulares, contando con amplia variedad en tecnologias para mejorar tu imagen y posicionamiento en la web y así hacer realidad eso que tenes en mente, hagamos tu sueño realidad.
                    Porque las grandes empresas tienen una gran imagen, empecemos por la web. 
                </p>
                </div>
                <!-- <p class="text-end">
                    Esto es nuestro Portfolio, una coleccion de paginas webs con exito, funcionando en su totalidad 100% BriCode
                    Cada pagina web realizada es una creacion unica, adaptada a las necedidades y condiciones de los clientes
                    Puedes ingresar en las paginas y observar nuestro trabajo
                    Esperamos trabajar con tigo muy pronto...
                </p> -->

                <div class="col-md-6 text-center pb-4 pb-sm-0 pt-sm-0 pt-4" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="1200">
                    
                        <h3 class="" style="font-family: Biger; ">¿Que ofrecemos?</h3>
                        <ul class="" style="list-style: none ;">
                            <li>Landing pages</li>
                            <li>Sitio web</li>
                            <li>Diseños perzonalizados</li>
                            <li>Hosting y dominio propio</li>
                            <li>Completamente adaptados a movil</li>
                        </ul>
                        
                 
                </div>

            </div>

        </div>

    </div>
    
</body>
