:root {
    --main-color: #4B4C80;
    --secondary-color: #c3dbcf;
}
@font-face {
    font-family: 'Biger';
    src: url("../../../../assets/fonts/bBigerOver.ttf");
}
@font-face {
  font-family: 'FutureEarth';
  src: url("../../../../assets/fonts/FutureEarth.ttf");
}

@font-face {
  font-family: 'Moderna';
  src: url("../../../../assets/fonts/MomcakeBold-WyonA.otf");
}

@font-face {
  font-family: 'Moderna2';
  src: url("../../../../assets/fonts/erasef-medium.otf");
}

@font-face {
  font-family: 'bricode';
  src: url("../../../../assets/fonts/LibreFranklin-VariableFont_wght.ttf");
}

.back-black {
  margin: 0;
  padding: 0;
  height: 100vh; // vh significa "viewport height", es decir, el 100% de la altura de la ventana de visualización
  background-color: #000; // Negro
  color: #fff; // Color de texto blanco (puedes ajustarlo según tus preferencias)
}


.b {
  background-color: #0d0d0d;
    /* background-image:  linear-gradient(rgba(0, 0, 0, 0.963), rgba(20, 20, 20, 0.958), rgba(1, 0, 27, 0.963)), url("../../../../assets/img/optimizadas/fondo1.jpg"); */
    /* background-image: url("../img/fodno4.jpg"); */
   /*  background-size: cover; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
/*      margin: 0;
  padding: 0; */
  /* height: 105vh; */ // vh significa "viewport height", es decir, el 100% de la altura de la ventana de visualización
   
  background: linear-gradient(180deg, #060606, #1e1e1e);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}


.fs-6{
  font-size: small;
}

.b2 {
  font-family: FutureEarth;
  background-color: #030a2c;
  /* background-image:  linear-gradient(rgba(82, 81, 81, 0.514), rgba(0, 0, 0, 0.6)), url("../img/fondo2.png"); */
  background-image: linear-gradient(rgba(1, 0, 27, 0.963), rgba(20, 20, 20, 0.949), rgba(8, 8, 8, 0.938)), url("../../../../assets/img/optimizadas/page.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

/*   height: 105vh; */
}

.p{
  background-color: rgba(63, 63, 63, 0.178);
  padding: 5%;
}

.bg1 {
    background-color: var(--main-color);
}

.bg2 {
    background-color: var(--secondary-color);
}

.white {
    color: white;
}
.card-container {
  perspective: 50%;
}

.card-flip, .card-container {
  transform-style: preserve-3d;
  transition: all 0.2s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}
.card-flip {
  display: grid; grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.4s ease;
}

.front {
  grid-area: frontAndBack;
}

div .img-logo{
  backface-visibility: hidden;
  transform-style: preserve-3d;

  -webkit-animation: breathing 3s ease-out infinite alternate-reverse;
  animation: breathing 3s ease-out infinite normal;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}


.bg-degrade{
  background: linear-gradient(to right,  rgb(188, 154, 0), rgba(0, 0, 0, 0));
}

.bg-degrade2{
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(188, 154, 0));
}

.lista li{
  padding: 4px;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    --glow-color: rgb(255, 254, 176);
  }
  20%, 24%, 55%, 56% {
    --glow-color:rgb(125, 119, 11); /* Cambia este color al color que prefieras para el parpadeo */
  }
}
.btn-led {
  --glow-color: rgb(255, 254, 176);
  --glow-spread-color: rgba(255, 253, 123, 0.781);
  --enhanced-glow-color: rgb(250, 255, 206);
  --btn-color: rgb(136, 136, 61);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  animation: flicker 4s infinite;

}
 
 .btn-led::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .4);
 }
 
 .btn-led:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .btn-led:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }


/* === removing default button style ===*/
.bricode {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.bricode {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #ffee37;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "FutureEarth";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.bricode:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

/* CARD */

.card {

  height: 254px;
  background: transparent;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px  rgba(46, 46, 46, 0);
  font-size: 30px;
  font-weight: 900;
}

.card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 0px 0px 10px 5px  rgba(24, 24, 24, 0.637);
  background: rgba(34, 34, 34, 0.533);
}

.first-content {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}


 .mac{
  width: 60%;
}

.move{
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

  /* Grow Shadow */
  .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

@media (max-width: 500px) { 
    
  /* .b{
    height: unset;
  }
  .b2{
    height: unset;
  }

  .fs-movil{
    font-size: 15px;
  } */
 
}

@media (max-width: 700px) { 
    
  .b{
    height: 135vh;
  }
  .b2{
    height: 135vh;
  }

  .fs-movil{
    font-size: 15px;
  }

  .card {

    height: auto;

  }
 
}













@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }
}
