
<body class="" >
   
      
    <div class="container-fluid back-black row">
        
        <div class=" pb-5 d-md-flex align-items-center justify-content-center">
            
            <div class="col-md-6 col-12 text-center ">
                <img src="../../../../assets/img/bricodenew.png" width="25%" class="img-fluid " alt="">
                <!-- <p class="fs-4 pt-4" style="font-family: FutureEarth; ">BRICODE</p> -->
               <div>
                <button class="bricode mt-4 fs-4" data-text="Awesome">
                    <span class="actual-text">&nbsp;BRICODE&nbsp;</span>
                    <span aria-hidden="true" class="hover-text">&nbsp;BRICODE&nbsp;</span>
                </button>
               </div>
            </div>

            <div class="col-md-6 col-12 text-center mt-md-0 mt-5">
                <p class="fs-4 pb-3">Tu <b>Web</b> personalizada te espera.</p>
                <button class="btn-led">¡Comienza Hoy!</button>
            </div>
        </div>
        

    </div>


    <div class="container-fluid b pt-5" >

        <div class="container mt-5 pt-sm-5 pt-0 row text-center m-auto">
            <p class="text-light  fs-movil" data-aos="fade-down"  style="font-family: bricode;">
                Bricode, mas que una web.
            </p>
        </div>
       
        <br><br><br>
        <div class="container m-auto row justify-content-center" data-aos="zoom-in" data-aos-duration="1200">
            <p class="text-light fs-2 m-2 p-3 text-center"  style="font-family: bricode;">
                <b>Portfolio</b>
            </p>
            
            <div class="row pt-5">
                <!-- <div class="card-container justify-content-center col-md-4 mt-3 mt-md-0" >
                    <a target="_blank" href="https://www.maxser.com.ar" class="text-style-none text-decoration-none">
                        <div class="card-flip shadow p " style="border-radius: 15px; border: solid rgba(70, 70, 70, 0.055) 3px;">
                            <div class="front w-50 m-auto">
                                <img src="../../../../assets/img/maxser.png" class="img-fluid img-logo" alt="...">
                            </div>
                            <div class="back m-3 p-2 text-white">
                                <h3 class="" style="font-family: Moderna;"><b>MAXSER</b></h3>
                                <p class="" >Empresa dedicada a la venta y reparación de equipos informáticos.</p>
                                <p class="fs-5" style="font-family: Moderna;"><small class="text-white">08/2021</small></p>
                            </div>
                        </div>
                    </a>
                </div> -->

                <div class="card-container justify-content-center col-md-4 mt-3 mt-md-0" >
                    <a target="_blank" href="https://www.maxser.com.ar" class="text-style-none text-decoration-none">                       
                            <div class="front w-50 m-auto">
                                <img src="../../../../assets/img/maxser.png" class="img-fluid" alt="...">
                            </div>  
                    </a>
                </div>

                <div class="card-container justify-content-center col-md-4 mt-3 mt-md-0" >
                    <a target="_blank" href="https://rapanui-lomos.web.app/" class="text-style-none text-decoration-none">                       
                            <div class="front w-50 m-auto">
                                <img src="../../../../assets/img/rapanui.png" class="img-fluid" alt="...">
                            </div>  
                    </a>
                </div>

                <div class="card-container  justify-content-center col-md-4 mt-3 mt-md-0" >
                    <a target="_blank" href="https://flowkai.web.app/" class="text-style-none text-decoration-none">                       
                            <div class="front w-50 m-auto">
                                <img src="../../../../assets/img/FlowKdark.png" class="img-fluid" alt="...">
                            </div>  
                    </a>
                </div>                
            </div>
            <div class="row mt-sm-5 mb-sm-5">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>

            <div class="mb-5">
                <h5 class="text-center pb-5 pt-sm-2 pt-5 text-light" style="font-family: bricode;" data-aos="fade-up" data-aos-duration="1200"  data-aos-anchor-placement="bottom-bottom" >
                    Descubre nuestro portafolio, una colección de exitosas páginas web que operan al 100% con la esencia única de BriCode. Cada página web es una creación exclusiva, adaptada a las necesidades y requerimientos de nuestros clientes. Puedes explorar cada proyecto en detalle y observar la dedicación y la calidad que ofrecemos.
                </h5>  
                
            </div>

        </div>

       
    </div>
    
    
    <div class="b2 text-white pt-5 container-fluid" >
        <div class="m-auto container pt-sm-5 pt-0 mt-5" style="font-family: bricode;" >
            <h2 class="pb-1 text-center fs-1 fw-bold"  data-aos="fade-down" data-aos-duration="1200">SERVICIOS</h2>

            
            <div class="fs-5 pt-sm-5 pt-1 row justify-content-center" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="1200">

                <div class="col-6">
    
                    <ul class="text-start lista" style="list-style: none ;">
                        <li>- Landing pages</li>
                        <li>- Sitio web</li>
                        <li>- Diseños perzonalizados</li>
                        <li>- Diseño, Desarrollo y SEO</li>
                        <li>- Hosting y dominio propio</li>
                        <li>- Acceso a demo de ONNO</li>
                        <li>- Completamente adaptados a movil</li>
                    </ul>

                </div>
                
                <!-- <div class="col-md-6 pb-sm-0 pb-4" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="1200">
                <p class=" text-center text-md-left ">
                    Somos <strong style="font-family: Biger;">BriCode</strong>, empresa dedicada al desarrollo de sitios y páginas webs profesionales
                    para empresas, instituciónes y particulares, contando con amplia variedad en tecnologias para mejorar tu imagen y posicionamiento en la web y así hacer realidad eso que tenes en mente, hagamos tu sueño realidad.
                    Porque las grandes empresas tienen una gran imagen, empecemos por la web. 
                </p>
                </div> -->
                <!-- <p class="text-end">
                    Esto es nuestro Portfolio, una coleccion de paginas webs con exito, funcionando en su totalidad 100% BriCode
                    Cada pagina web realizada es una creacion unica, adaptada a las necedidades y condiciones de los clientes
                    Puedes ingresar en las paginas y observar nuestro trabajo
                    Esperamos trabajar con tigo muy pronto...
                </p> -->

                <!-- <div class="col-md-6 text-center pb-4 pb-sm-0 pt-sm-0 pt-4" data-aos="fade-up" data-aos="zoom-in-up" data-aos-duration="1200">
                    
                        <h3 class="" style="font-family: Biger; ">¿Que ofrecemos?</h3>
                        <ul class="" style="list-style: none ;">
                            <li>Landing pages</li>
                            <li>Sitio web</li>
                            <li>Diseños perzonalizados</li>
                            <li>Hosting y dominio propio</li>
                            <li>Completamente adaptados a movil</li>
                        </ul>
                        
                 
                </div> -->

            </div>

        </div>

    </div>
    
</body>
